.Card {
    display: flex;
    flex-direction: column;
    background: linear-gradient(110.7deg, rgb(9, 154, 151) 6.3%, rgb(21, 205, 168) 90.6%);;
    border: 1px solid #282c34;
    border-radius: 5px;
    padding: 25px;
    cursor: pointer;
    -moz-osx-font-smoothing: grayscale;
    backface-visibility: hidden;
    transform: translate(0);
    transition: transform 1.30s ease-out;

}

.Card:hover {
    transform: scale(1.15);
}