.Card {
    display: flex;
    flex-direction: column;
    background: radial-gradient(905px at 4.9% 85.8%, rgb(255, 243, 242) 0.1%, rgb(255, 247, 220) 57.6%);
    border: 1px solid #FFF3F2FF;
    border-radius: 5px;
    padding: 25px;
    cursor: pointer;
    -moz-osx-font-smoothing: grayscale;
    backface-visibility: hidden;
    transition: transform 0.50s ease-out;
    margin-bottom: 40px;
}

.Card:hover {
    transform: scale(1.05);
}

.Card h1, h2 {
    color: indigo;
    padding: 5px;
    margin-top: 10px;
}