.Card {
    display: flex;
    flex-direction: column;
    background: radial-gradient(755px at 10.1% 95.3%, rgb(242, 188, 141) 0%, rgb(242, 159, 141) 100.2%);
    border: 1px solid #F2BC8DFF;
    border-radius: 5px;
    padding: 25px;
    cursor: pointer;
    -moz-osx-font-smoothing: grayscale;
    backface-visibility: hidden;

    transition: transform 0.50s ease-out;
}

.Card:hover {
    transform: scale(1.05);
}

.Card h1, h2 {
    color:#282c34;
}